<!--
	Don't edit me! Edit README.md.tmpl or wait for GitHub Actions
	to do it for you.
-->

# acmfriends webring

https://acmcsuf.com

## Members

{{- defineDatasource "webring" "./webring.json" }}
{{- $webring := datasource "webring" }}
{{- range $webring.ring }}
- [{{ .name }}]({{ template "url" .link }})
{{- end }}

## Usage

```html
<webring-element src="https://raw.githubusercontent.com/diamondburned/acmfriends-webring/%3C3-spring-2023/webring.json" />
```

{{ define "url" }}
{{- if (strings.Contains "://" .) -}}
	{{- . -}}
{{- else -}}
	https://{{- . -}}
{{- end -}}
{{ end }}
